.same {
  padding: 0 10px 10px 10px;
}

.sol {
  color: lightslategray;
}

.dol {
  text-align: right;
  color: lightslategray;
}

.load{
  margin: 20px;
}


.box{
  background-color: dodgerblue;
  width: 200px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}
