body {
    background-color: #D6DBE1;
}

.block {
    width: 600px;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0,0,0,0.25), 0 1px 1px rgba(0,0,0,0.22);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    border: solid #AFAFAF 1px;
    border-radius: 10px 10px 0 0;
}

.wrapper{
    margin: 10px;
}

.wrapper h3{
    font-size: 18px;
    color: lightslategray;
}

.message {
    padding: 0 20px 20px 20px;

}

.message p {
    font-size: 16px;
    color: #504E4E;
}